.contact__modal-wrapper {
	position: fixed;
	z-index: 4;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.05);

	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;
	visibility: hidden;

	transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
	transition-delay: 0s;

	&.modal--open {
		opacity: 1;
		visibility: visible;
	}
}

.contact {

	&__modal {
		background-color: white;
		padding: 60px;
		text-align: center;
		font-size: 10px;
		font-family: $body-stack;
		position: relative;
	}

	&__close {
		cursor: pointer;
		height: 20px;
		width: 20px;
		position: absolute;
		top: 2px;
		right: 4px;
		background: transparent;
		border: none;
		outline: none;

		&::before, &::after {
			content: "";
			width: 12px;
			border: 2px solid $grey;
			position: absolute;
			top: 12px;
			border-radius: 15px;
			transition: border-color 0.25s ease-in-out;
		}

		&::before {
			transform: rotate(45deg);
			right: 2px;
		}

		&::after {
			transform: rotate(-45deg);
			left: 2px;
		}

		&:hover::before, &:hover::after {
			border-color: lighten($grey, 30%);
		}
	}


	&__title {
		margin-top: 0;
	}

	&__link {
		color: black;
		margin: 0 6px;
	}
}