.section--home {
	height: 100%;
	box-sizing: border-box;

	// background: white url(/assets/img/concrete_wall_2.png) repeat center;

	background: url(/assets/img/concrete.jpg) no-repeat center center fixed; 
	background-size: cover;
}

.home {
	&__name {
		position: fixed;
		top: $padding;
		left: 20px;
		color: black;
		text-decoration: none;
		font-size: 8px;
		font-family: $body-stack;
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1px;
	}

	&__contact {
		position: fixed;
		bottom: $padding;
		left: 20px;
	}

	&__contact-link {
		color: black;
		text-decoration: none;
		font-size: 8px;
		width: 1em;
		letter-spacing: 2em;
		font-family: $body-stack;
		display: block;
		text-transform: uppercase;
		font-weight: 700;
	}
}