html, body, .content-wrapper, .post {
	height: 100%;
}

body { 	overflow-x: hidden; }
body.modal--open { overflow-y: hidden; }

.content-wrapper {
	box-sizing: border-box;
	overflow-x: hidden;

	transform: translateX(0);
	transition: transform 0.5s;
}