.nav {
	position: fixed;
	z-index: 99;
	top: 0;
	left: -$nav-width;

	height: 100%;
	width: 100%;
	background-color: $grey;
	padding: $padding / 2;
	width: $nav-width;
	box-sizing: border-box;

	transform: translateX(0);
	transition: transform 0.5s;

	&.shifted { transform: translateX($nav-width); }

	&__list {
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: 100%;
		justify-content: center;
	}

	&__list-item {
		display: block;
	}
		
	&__link {
		color: white;
		text-decoration: none;
		text-transform: lowercase;
		font-size: 12px;
		font-family: $body-stack;
		padding: 1em 2em 1em 0;
		display: block;

		transition: transform 0.25s ease-in-out;

		&:hover {
			transform: translateX(10px);
		}
	}

	&__contact, &__name {
		color: white;
		text-decoration: none;
		font-size: 12px;
		font-family: $body-stack;
		position: absolute;
		left: $padding / 2;
	}

	&__name { top: $padding / 2; }
	&__contact { bottom: $padding / 2; }




	&__button {
		position: fixed;
		z-index: 98;
		top: 50%;
		left: -10px;
		transform: translateY(-50%) translateX(0);
		width: 32px;
		height: 24px;
		border: none;
		background: transparent;
		outline: none;

		transition: transform 0.5s;

		&.shifted { transform: translateY(-50%) translateX($nav-width); span { transform: scaleX(1); } }

		span {
			width: 100%;
			height: 4px;
			background-color: $grey;
			display: block;
			position: absolute;
			right: 0;
			transform-origin: center right;
			transform: scaleX(0.15);
			transition: transform 0.5s;

			&:nth-child(1) { top: 0; }
			&:nth-child(2) { top: calc(50% - 2px); }
			&:nth-child(3) { bottom: 0; }
		}
	}
}