// FONTS
$body-font: 'Roboto';
$body-stack: $body-font, Helvetica, Arial, sans-serif;
$font-size: 10px;
$link-size: 12px;


// COLORS
$grey: #231f20;



// ANIMATIONS
$anim-time: 0.65s;
$cubic-bezier: ease-in-out;


// GLOBAL PADDING
$padding: 80px;


$nav-width: 260px;
