---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<a href="{{ page.previous.url }}" class="post__prev">P r e v</a>
	<a href="{{ page.next.url }}" class="post__next">N e x t</a>
	<a class="post__info" href="/info">
		I n f o
	</a>

	<div class="post-content" id="fullpage" itemprop="articleBody">
		{{ content }}
	</div>

	<header class="post__modal-wrapper">
		<div class="post__modal">
			<button class="post__close">
				<span></span>
				<span></span>
			</button>

			<h1 class="post__title" itemprop="name headline">{{ page.title }}</h1>
			<p class="post__desc">{{ page.description }}</p>

			<ul class="post__tags-list">
				{% for tag in page.tags %}
			    	<li class="post__tag-item">{{ tag }}</li>
			    {% endfor %}
			</ul>
		</div>
		<div class="overlay"></div>
	</header>

</article>